<div class="author__avatar">
  <img src="{{ "profile.webp" | absURL }}" alt="{{ $.Site.Params.owner | default $.Site.Title }}" class="author__avatar-image">
</div>

<div class="author__content">
  <h3 class="author__name">{{ $.Site.Params.owner | default $.Site.Title }}</h3>
  {{ with $.Site.Params.subtitle }}
    <div class="author__bio">{{ . }}</div>
  {{ end }}
</div>

<div class="author__urls-wrapper">
  <ul class="author__urls social-icons">
    {{ with $.Site.Params.location }}
      <li><i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> {{ . }}</li>
    {{ end }}
    
    {{ with $.Site.Params.employer }}
      <li><i class="fas fa-fw fa-building" aria-hidden="true"></i> {{ . }}</li>
    {{ end }}
    
    {{ with $.Site.Params.github }}
      <li><a href="https://github.com/{{ . }}" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    {{ end }}
    
    {{ with $.Site.Params.LinkedIn }}
      <li><a href="{{ . }}" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
    {{ end }}
    
    {{ with $.Site.Params.email }}
      <li><a href="mailto:{{ . }}"><i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i> Email</a></li>
    {{ end }}
  </ul>
</div>
